body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
.banner{
    display:flex;
    margin-bottom:50px;
}
.width{
    width:80%;
    padding-left:7%;
    padding-top:10%;
}
.first-heading{
    font-size: 55px;
}
.paragraph{
    font-size:20px;
}
.small-style{
    color:orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color:white;
    padding:17px 35px;
    border-radius: 70px;
}
.second-width{
    padding-left:11%;
    padding-top:10%;
    padding-right:10%;

}
.img-class{
    padding-left: 10%;
    height:465px;
}
.second-width h1{
    font-size: 30px;
}
.second-backround-banner{
    background-image:url(food-network-main/images/shapes/7.png);
    background-repeat: no-repeat;
}
.margin{
    margin-bottom: 100px;
}

 h1{
    font-size:2rem;
    margin-bottom:10px;
    font-weight:bolder;
    text-align:center;
}
#id1{
    padding-left:25%;
    padding-right:25%;
    text-align:center;
}
.recepie-item{
    width:50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left:20px;
    border-radius: 20px;
    box-shadow:  10px 10px 15px gray;
}


.recepie-image{
    width:95%;
    margin-top:5%;
}
.social-media{
    padding:3%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    box-shadow:  10px 10px 50px gray;
    backround-color:black;
}
.footer{
    background-color: black;
    color:white;
    padding:4%;
}
.small{
    font-size:15px;
}
.text{
    text-align: center;
}
